#pageHeader{
	text-align: center;
	color: #FFF;
}
#firstPage{
	position: relative;
	top: 150px;
}
.secondPage{
	visibility: hidden;
	position: relative;
	top: 35px;
}
#thirdPage{
	visibility: hidden;
	position: relative;
	top: -450px;
	left: 20%;
}
#weatherTable,th,td{
	border:2px solid black;
	height: 70%;
	width: 70%;
	padding: 10px;
	margin: 10px;
	text-align: center;
}
#locationImage{
	border:2px solid black;
	padding :10px;
	/*max-width: 800px;*/
}
#locationImageButton{
	padding:5px;
	align-content: center;
	text-align: center;
}
#mainBody{
	position: relative;
	top: 100px;
}
#positionOnMapImage{
	max-width: 500px;
}
/*.allowLocationAccess{
	display: inline-block;
}*/
